.Carousel {
  position: relative;
  width: 100%;
}

.Carousel__Scroll {}

.Carousel__InnerScroller {
  display: flex;
  transition: transform 1s;
}
.Carousel__NavContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 35%;
}

.Carousel__Nav {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: fixed;

  background-color: rgba(0, 0, 0, 0.07);
}

.Carousel__Nav:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.Carousel__NavLeft {
  left: 0;
}

.Carousel__NavRight {
  right: 0;
}

.Carousel__NavIcon {
  cursor: pointer;
  font-size: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
